body {
	background-color: #345d35;
}

* {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container  {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1#sga {
	color: #345d35;
	margin-top: 0;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
}

div.bs-callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #EEE;
	border-right: 3px solid #EEE;
	background-color: #faf8f0;
	border-color: #faebcc;
}



.campusvine-linkarea {
	border: 1px solid #eee;
}

.footer {
	border-top: 1px solid #eee;
	padding-top: 50px;
}

.document-square {
	border: 1px solid #eee;
	text-align: center;
	opacity: .85;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

.document-square h2 {
	padding: 20px;
}

.document-square:hover {
	background-color: #eee;
	color: #345d35;
	cursor: pointer;
	opacity: 1;
}

a {
	color: #345d35;
}

a:hover {
	color: #345d35;
	text-decoration: none;
}

.big-icon {
	padding-top: 20px;
	font-size: 60px;
}
