body {
	background-color: #E3E3E3;
}

.container  {
	background-color: #fff;
}

.campusvine-jumbotron {
	background-color: #7AB800;
}

.campusvine-linkarea {
	border: 1px solid #eee;
}

.footer {
	border-top: 1px solid #eee;
	padding-top: 50px;
}

.document-square {
	border: 1px solid #eee;
	text-align: center;
}

.document-square h2 {
	padding: 20px;
}

.big-icon {
	padding-top: 20px;
	font-size: 60px;
}
